.full-width-table {
  width: 100%;
  padding-top: 1%;
}

.custom {
  padding: 20px;
}

.add-patient {
  margin-top: 2%;
  margin-left: 2%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.col-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
